*{
        margin          : 0;
        padding         : 0;
        box-sizing      : border-box;

        font-family     : Poppins;
}

html{
        scroll-behavior : smooth;
        overflow-x: hidden;
}

:root{
        --primary-100   : rgb(255, 255, 255);
        --secondary-100 : rgb(23, 23, 23);
        --secondary-200 : rgb(220, 220, 220);
        --secondary-300 : rgb(200, 200, 200);

        --header-height : 3em;
        --button-height : 1em;
        
        --burger-width: 2em;
        --burger-height : 1.6em;
        --burgerline-height: 0.4em;

        --footer-height: 3em;
}

/* HEADER ============================================= */

body{
        position: relative;
        overflow-x: hidden;
        height: 100dvh;
        background-color : var(--secondary-100);

        display: grid;
        grid-template-rows : var(--header-height) auto;
}

body .container{
        text-align: center;
        width: 100%;
        max-width: 1000px;
        padding: 1em;
}

/* HEADER ============================================= */
header{
        background-color : inherit;
        
        display : flex;
        justify-content : center;
        align-items : center;

        position : relative;
}

header .container{
        width: 100%;
        height: 100%;
        display : flex;
        justify-content : space-between;
        align-items : center;
}

header nav {
        display: flex;
}

header nav ul{
        list-style : none;
        color: var(--primary-100);
        display: flex;
        gap: 2em;

}

a{
        text-decoration: none;
}

header nav ul a{
        color: var(--primary-100);
}

.logo{
        color: var(--primary-100);
        font-size : 1.6em;
}


.burger{
        background-color: inherit;
        border: none;
        outline: none;
        position: relative;
        width: var(--burger-width);
        height: var(--burger-height);
}

.burgerline,
.burgerline:before,
.burgerline:after
{
        content: " ";
        height: var(--burgerline-height);
        width: 100%;
        border-radius: var(--burgerline-height);
        background-color: var(--primary-100);
        right: 0;
}

.burgerline:before{
        position: absolute;
        width: 60%;
        top: 0;
        transition: width 150ms linear;
}
.burgerline:after{
        position: absolute;
        width: 70%;
        bottom: 0;
        transition: width 150ms linear;
}

.menu:has(.burger:focus) .burgerline:after,
.menu:has(.burger:focus) .burgerline:before
{
        width: 100%;
}

.menu:has(.burger:focus) .menu-items{
        left: calc(30% - 1em);
}
/* MAIN ============================================= */
main{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
}

.section-title{
        color: var(--primary-100);
        margin-block : 2em 1em;
}
.hero-section{
        background-color : var(--primary-100);
        color: var(--secondary-100);
        border-radius: 0.6em;

        padding: 1em;
}

.hero-section .pre-text{
        font-size: 200%;
}
.hero-section .highlight{
        font-size: 3em;
}

.offer-section .list-offers,
.apps-section .list-apps{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1em;
        flex-wrap : wrap;
}

.offer-section .list-offers .offer,
.apps-section .list-apps .app{
        text-align: center;
        width: min(320px, 90%);
        min-width: 200px;

        background-color: var(--primary-100);
        color: var(--secondary-100);

        padding: 1em;
        border-radius: 0.6em;
}

.offer-section .list-offers .offer .offer-title{
        margin-bottom: 1em;
}

.list-apps .app a{
        background-color: var(--secondary-100);
        color: var(--primary-100);
        
        display: block;
        margin : 1em auto 0 auto;
        width: 80%;
}

.menu-btns{
        display: flex;
        flex-direction: column;
}

.menu-btns button{
        padding: 0.3em;
        margin: 0.2em 0;
        border: none;
        outline: none;
}

/* FOOTER =============================================================================== */
footer{
        text-align: center;
        background-color: var(--primary-100);
        padding: 1em;
        height: var(--footer-height);
}

footer a{
        color: var(--secondary-100);
}
/* ====================================================================================== */
/* MOBILE VERSION =============================================================================== */
@media (max-width : 760px){
        
        .menu .menu-items{
                position: absolute;
                z-index: 100;
                background-color: black;
                border-radius: 0.6em 0 0 0.6em;
                padding: 1em;
                left: 100%;
                top: calc(100% + 1em);
                width: 70%;
                display: flex;
                flex-direction: column;

                transition: left 150ms linear;
        }

        .menu .menu-items a{
                font-size: 1.4em;
        }

}
/* ####################################################################################### */

/* TABLET VERSION =============================================================================== */
@media (min-width : 767px){
                
        .menu .menu-items{
                position: relative;
                
                display: flex;
        }

        .burger{
                display: none;
        }

        .hero-section .pre-text{
                font-size: 200%;
        }
        .hero-section .highlight{
                font-size: 6em;
        }
}
/* ####################################################################################### */

/* LAPTOP VERSION =============================================================================== */
@media (min-width : 1200px){
        
        .hero-section .pre-text{
                font-size: 200%;
        }
        .hero-section .highlight{
                font-size: 6em;
        }
}
/* ####################################################################################### */