*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;

    font-size : 1em;
    font-family: Arial;
}

h1{
    font-size : 160%;
}

:root{
    --header-height: 2em;
    --white: #fff;
    --black: #000;

    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;

    --max-width: 1000px;
}

main{
    max-height: 100%;
    height: calc(100dvh - var(--header-height));
    position: relative;
    overflow-y: hidden;
    display: flex;
    gap: 0.4em;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    color: var(--gray-200);
}

/* APP PAGES ============================================== */
main .app-main{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 500px;
}
main .app-main section{
    text-align: center;
}

.app-header .app-title{
    margin-bottom: 1em;
    font-size: 1.8em;
}

main .app-main label{
    position: absolute;
    right: 5000px;
}

main .app-main .app-add-card,
main .app-main .app-card-list,
main .app-main .app-play-cards
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gray-900);
}

main .app-main .app-add-card{
    z-index: 3;   

    display: grid;
    grid-gap: 1em;
    grid-template-rows: 1fr 1fr 3fr 5fr;
}

main .app-main .app-card-list{
    z-index: 5;
}

main .app-main .app-add-card select,
main .app-main .app-add-card textarea{
    width: 100%;
    text-align: center;
    border: 3px solid var(--primary-100);
    background-color: inherit;
    outline: none;
    border-radius: 0.5em;
    color: var(--primary-100);
    display: block;
}

main .app-main .app-add-card select option{
    color: var(--secondary-100);
}

main .app-main .app-add-card textarea::placeholder{
    color: rgba(255, 255, 255, 0.786);
}

main .app-main .app-add-card select{
    padding: 0.6em 1em;
}
main .app-main .app-add-card textarea{
    padding-block: 1em;
    resize : none;
    height: 100%;
}
main .app-main .app-info{
    display: grid;
    width: 100%;
    grid-template-columns: max(20%, 7em) auto;
    padding: 0.6em 0.5em;
    color: var(--primary-100);
}
main .app-main .app-info .search-container{
    width: 100%;
}
main .app-main .app-info .search-container .search{
    width: 100%;
    padding: 0.3em 0.5em;
    border: 2px solid white;
    outline: none;
    color: white;
    background-color: inherit;
}


main .app-main .app-info select{
    background-color: inherit;
    color: var(--primary-100);
    outline: none;
    border: none;
}

main .app-main .app-info select option{
    color: var(--secondary-100);
}

main .app-main .app-card-list{
    display: grid;
    grid-template-rows: 1em auto;
}

main .app-main .card-list{
    overflow-y: scroll;
    height: 90%;
}

.card-list .card-list-item{
    border: 2px solid var(--primary-100);
    margin-bottom: 0.6em;
    margin-inline: 0.6em;
    text-align: center;
    padding: 1em;
    border-radius: 0.6em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-list .card-list-item .content-front{
    font-size: 1.4em;
}

.card-list .card-list-item .content-back{
    font-size: 1.2em;
    color: lime;
}

.card-list .card-list-item .delete{
    background-color: inherit;
    border: none;
    outline: none;
    color: var(--primary-100);
}

.card-list .card-list-item .edit,
.card-list .card-list-item .delete{
    padding: 0.2em 0.6em;
}


main .app-main .app-play-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

main .app-main .timer{
    position : relative;
    width: 100%;
    height: 1.2em;
    background-color: var(--primary-100);
    border-radius: 1em;
    margin-bottom: 0.6em;
}

main .app-main .timer .track{
    position : absolute;
    top: 50%;
    transform: translate(0.2em, -50%);
    width: 90%;
    height: 0.8em;
    border-radius: 1em;
    background-color: var(--secondary-100);
}

main .app-footer{
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .app-footer button{
    border: none;
    outline: none;
    padding: 0.4em;
}

main .app-footer .left{
    background-color: inherit;
    color: var(--primary-100);
}
/* ============================================== */

.card{
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 1em;

    perspective: 1500px;
}

.card-inner{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 650ms linear;
    }

.card-front, .card-back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items:center;
    color: black;
    background-color: white;
    border: 2px solid var(--gray-100);
}

.card-front{
    display:grid;
    grid-template-rows: 9fr 1fr;
    font-size: 1.6em;
    padding: 0.3em 0.4em;
    background-color: var(--gray-100);
}

.card-front .reveal-btn{
    background-color: inherit;
    border : none;
    outline: none;
    font-size: 0.8em;
}
.card-back{
    padding: 1em;
    font-family: monospace;
    flex-direction : column;
    font-size: 1.2em;
    overflow-y: hidden;
    background-color: var(--gray-100);
    transform: rotateY(180deg);
}

.card-back .added{
    color: lime;
}

.card .card-question,
.card .card-answer{
    text-align: center;
}

.dashboard-btn{
    color: var(--gray-200);
    background-color: inherit;
    height: 2em;
    border: none;
}
.dashboard{
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-800);

    padding: 0.4em 1em ;

    transition: all 150ms linear;
}

.dashboard .quizz-form-container label{
    margin-block: 0.3em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: max(300px, 100%);
}
.quizz-library-container{
    text-align : center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 80dvh;
}

.dashboard .quizz-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}
.dashboard .quizz-form-container textarea{
    width: 100%;
}

.quizz-list {
    height: 100%;
    padding: 0 0.4em;
    overflow-y: auto;
}

.dashboard .quizz{
    display: flex;
    gap: 0.6em;
    flex-direction: column;
    background-color: var(--secondary-100);
    justify-content: space-between;
    padding: 1em;
    margin: 0.2em 0;
    border-radius: 0.4em;
}

.quizz .question{
    font-size: 1.2em;
}
.quizz .answer{
    color: rgba(0, 255, 0, 0.871);
}

.dashboard-content{
    display: flex;
}

.quizz-back, 
.quizz-front{
    resize: none;
    padding: 0.4em 1em;
    
    border: 2px solid var(--gray-200);
    border-radius: 10px;
    font-size: 1.4em;
    background-color: inherit;
    text-align: center;
    outline: none;
}

.quizz-front{
    color: var(--gray-200);
}

.quizz-back{
    border-color: lime;
    color: lime;
}

.add-quizz{
    width: 100%;
    display: inline-block;
    margin-top: 1em;
}

.quizz .card-actions{
    width: 100%;
    display: grid;
    gap: 0.2em;
    grid-template-columns: repeat(2, 1fr);

}
.quizz .card-actions button{
    border : 2px solid var(--gray-200);
    background-color: inherit;
    color: var(--gray-200);
}

.quizz .card-actions button.delete{
    border-color: red;
    background-color: red;
}

.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-800);
    color: var(--primary-100);
    border-radius: 0.6em;
    padding: 0.3em;
    text-align: center;
}

.instruction .dashboard-btn{
    width: 50%;
    background-color: var(--primary-100);
    color: var(--secondary-100);
    margin-top: 0.3em;
    padding: 0.1em 1em;
}